body {
    background-color: rgb(107, 195, 195);
}

h1 {
    font-size: 40px;
}

h4 {
    font-size: 18px;
}

.cart {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#item-name {
    display: flex;
    width: 170px;
    height: 45px;
    text-align: center;
    border: none;
    border-radius: 15px;
    margin-bottom: 20px;
}

#item-name:focus {
    outline: none;
    box-shadow: 10px 10px 10px -1px rgb(0 0 0 / 15%);
}

.type {
    width: 100%;
}

#item-type {
    background-color: rgb(107, 195, 250);
    font-size: 15px;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin: 0px 8px;
    cursor: pointer;
}

#item-type:hover,
#item-type:focus {
    background-color: rgb(182, 194, 300);
    box-shadow: 1px 1px 10px 5px rgb(0 0 0 / 15%);
}

#item-price {
    display: flex;
    width: 170px;
    height: 45px;
    text-align: center;
    border: none;
    border-radius: 15px;
    margin: 25px;
}

#item-price:focus {
    outline: none;
    box-shadow: 10px 10px 10px -1px rgb(0 0 0 / 15%);
}

#add-item {
    background-color: orangered;
    color: white;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    width: 130px;
    height: 35px;
    border: none;
    border-radius: 10px;
    margin: 0px 20px 15px;
    cursor: pointer;
}

#add-item:hover {
    background-color: rgb(185, 49, 0);
    box-shadow: 10px 10px 10px -1px rgb(0 0 0 / 15%);
}

.final {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

@media (max-width: 770px) {
    .final {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}

.final-cart {
    flex-direction: column;
    display: flex;
}

* {
    font-family: sans-serif;
}