.type {
    width: 100%;
}

.item_type {
    background-color: rgb(107, 195, 250);
    font-weight: 700;
    font-size: 15px;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin: 0px 8px;
    cursor: pointer;
}

.item_type:hover {
    transform: scale(1.2);
    background-color: rgb(182, 194, 300);
    box-shadow: 1px 1px 10px 5px rgb(0 0 0 / 15%);
}

.selected_type {
    background-color: orangered;
    font-weight: 700;
    font-size: 15px;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin: 0px 8px;
    cursor: pointer;
}

.selected_type:hover {
    transform: scale(1.2);
    background-color: orangered;
    box-shadow: 1px 1px 10px 5px rgb(0 0 0 / 15%);
}